<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.dream.mao.dropwaterwallpaper">
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="appName"
        android:theme="@android:style/Theme.NoTitleBar">
        <service
            android:name=".DropWaterWallPaper"
            android:label="water drop"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />

            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/water_drop" />
        </service>
    </application>


</manifest>
